body, html {background: url(symphony.png); background-size: 110px 69px; font-family: 'Playfair Display', serif; }

body p {font-style: italic; font-size: 16px; }
.header h1 {background: #337AB7; border-radius: 0 10px 0 0; height: 40px; margin: 30px -15px 0;
    position: relative; width: 240px; z-index: 10; }
.header h1 span {color:#fff; float:left; font-size: 40px; height: 40px; }
.header h1 span+span {color:#000; font-size: 28px; padding: 0; }
.main .container {background:#fff; box-shadow: 0 2px 5px rgba(0,0,0,0.05); z-index: 0; }
.main .board { padding-top: 20px; }
.sidebar { background-color: #eee; padding-top: 20px; padding-bottom: 25px;
        box-shadow: -1px 1px 5px rgba(0,0,0,0.15); }
.panel { box-shadow: 0 2px 5px rgba(0,0,0,0.05); cursor: pointer; transition: all .2s ease-out; overflow: hidden;}
.panel:hover { box-shadow: 0 2px 8px rgba(0,0,0,0.35); }
.panel.selected { box-shadow: 0 2px 8px rgba(0,0,255,0.65); }

.well { position: relative; padding-top: 0; padding-bottom: 0; overflow: hidden; border-color: #999 }
.well .well-title { font-family: 'Oswald', sans-serif; border-bottom: 1px solid #ccc; 
    font-size: 20px; margin: 0 -19px; margin-bottom: 10px; background-color: #999;
    color: white; padding: 5px 0;}
.well .glyphicon { float: left; font-size: 30px; color: #ddd; margin: -3px 15px 3px 5px; }

form .ng-invalid.ng-dirty { box-shadow: 0 0 8px rgba(250,0,0,0.35); color: #c00; }

h1 {color: #444; font-family: 'Oswald', sans-serif; font-size: 16px; margin: 20px 0 0 0; 
    text-align: center; text-transform: uppercase; }
h2 {border-bottom: 1px solid #444; color: #000; font-family: 'Oswald', sans-serif; 
    margin: 20px 0 10px; padding: 0 0 10px 0; text-transform: uppercase; }
h3, h3 a, label, th {color: #337AB7; font-family: 'Oswald', sans-serif; margin: 10px 0 5px; 
    text-transform: uppercase; }

.btn, .input-group-addon {font-family: 'Oswald', sans-serif; text-transform: uppercase; 
    background-color: #337AB7; border-color: #130E5E; color: white; }

.footer { background-color: #337AB7; padding: 10px 0 15px; color: white; font-family: 'Oswald', sans-serif; }