<!doctype html>
<html ng-app="NoteManager">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
        <link href="css/main.css" rel="stylesheet" />
        <!-- /CSS -->
        <title>Angular Note Manager</title>
    </head>
    <body>
        <div class="header container">
            <h1><span>Post</span><span>it</span></h1>
        </div>

        <div class="main" ng-controller="mainController">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 board">
                        <div class="well" ng-repeat="gruppo in elencoGruppi">
                            <div class="well-title"><em class="glyphicon glyphicon-{{ gruppo.icona}}"></em>{{ gruppo.nome }}</div>
                            <div class="row">
                                <div class="col-sm-3 note" ng-repeat="nota in elencoNote|filter:{gruppo: gruppo.nome} as filteredNotes">
                                    <single-note></single-note>
                                </div>
                                <span ng-show="filteredNotes.length == 0">Nessuna nota appartenente al gruppo "{{ gruppo.nome }}"</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sidebar">
                        <!-- nota personale : agli attributi definiti come elementi dello scope isolato si possono passare delle stringhe che in
                            realtà sono nomi di variabili dello scope attuale 
                            lo scope isolato di modulo modifica avrà : 
                                -variabile nota  : contiene l'oggetto notaCliccata dello scope attuale
                                -variabile elencoGruppi : contiene l'oggetto passato all'attributo gruppi
                                -variabile elencoNote : contiene l'oggeto passato all'attributo note
                                
                                precisazione : all'interno dello scope isolato, la scelta dei nomi delle variabili è discrezionale, non
                                deve essere per forza uguale a quello del valore passato all'attributo-->
                        <modulo-modifica nota="notaCliccata" gruppi="elencoGruppi" note="elencoNote" ></modulo-modifica>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer container">
            <div class="col-sm-12">&copy; IFTS 2016</div>
        </div>
        <!-- ANGULARJS -->
        <!-- CORE -->
        <script src="js/vendor/angular.js"></script>
        <!-- MODULE -->
        <script src="js/app/app.js"></script>
        <!-- CONTROLLERS -->
        <script src="js/controllers/main-controller.js"></script>
        <!-- SERVICES -->
        <script src="js/services/note-service.js"></script>
        <!-- DIRECTIVES -->
        <script src="js/directives/note-directive.js"></script>
        <script src="js/directives/modulo-modifica.js"></script>
        <!-- /ANGULARJS -->
    </body>
</html>





