<!-- all'interno di questa direttiva mi trovo in uno scope isolato : vedo le variabili del controller associato e quelle passate come attributi
     dello scope isolato alla crezione della direttiva -->
<form novalidate ng-submit="salva()" name="frmValidazione">
	<legend>Nota <button type="button" class="btn btn-primary pull-right" ng-click="nuova()">Nuova</button></legend>

	<div class="form-group">
		<label for="titolo">Titolo</label>
		<input type="text" class="form-control" id="titolo" name="titolo" ng-model="nota.titolo" required/>
	</div>

	<div class="form-group">
		<label for="testo">Testo</label>
		<textarea class="form-control" id="testo" ng-model="nota.testo" required></textarea>
	</div>
	<div class="form-group">
		<label for="colore">Colore</label>
		<select id="colore" class="form-control" ng-model="nota.colore">
                    <option value="">Nessuno</option>
                    <option value="panel-info">Info</option>
                    <option value="panel-primary">Primario</option>
                    <option value="panel-success">Successo</option>
                    <option value="panel-warning">Attenzione</option>
                    <option value="panel-danger">Pericolo</option>
		</select>
	</div>

	<div class="form-group">
		<label for="gruppo">Gruppo</label>
		<select id="gruppo" class="form-control" ng-model="nota.gruppo" name="gruppo" required>
			<option value="{{gruppo.nome}}" ng-repeat="gruppo in elencoGruppi">{{gruppo.nome}}</option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary" ng-disabled="frmValidazione.$invalid" ng-show="(check && frmValidazione.$dirty)">Salva</button>
</form>