<div class="panel panel-default {{nota.colore}}" ng-click="aggiungiNota(nota)" ng-class="{selected: nota.id == notaCliccata.id}">
    <div class="panel-heading"><h3 class="panel-title">{{nota.titolo}}</h3></div>
    <div class="panel-body">{{nota.testo}}</div>
</div>
